<!-- Extends content from base.html -->
{% extends "recipes/base.html" %}

{% block content %}
<h1>Recipes:</h1>
<!-- For loop to loop over recipe content -->
<div class="row" data-masonry='{"percentPosition": true }'>
    {% for recipe in recipes %}
    <!-- Card image -->
    <div class="card my-2 col-12 col-md-6 col-lg-4">
        {% if recipe.featured_image %}
        <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="">
        {% endif %}
        <!-- Card body -->
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
            <p class="card-text">{{ recipe.description }}</p>
            <a href="{% url 'recipes-detail' recipe.id %}" class="card-link btn btn-outline-info">View Recipe</a>
            <i class="fas fa-heart text-danger"></i>
            {{ recipe.number_of_likes }}
        </div>
        <!-- Card footer -->
        <div class="card-footer">
            <small class="text-muted">Last updated: {{ recipe.updated_at|date:'N d, Y' }}</small>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
<!-- Masonry script from bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
</script>