<!-- Extends content from base.html -->
{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- featured image set as background -->
<section>
    <div style="max-height:200px;">
        <img src="{{recipe.featured_image.url}}" style="width:100%">
    </div>
</section>
<!-- Main layout -->
<div class="container-fluid mt-5 mt-md-0 mb-5" id="main-container">
    <!-- Grid row -->
    <div class="row" id="main-row">
        <!-- Grid column -->
        <div class="col-md-12 px-lg-5">
            <!-- Recipe card -->
            <div class="card pb-5 mx-md-3">
                <!-- Card body -->
                <div class="card-body">
                    <!-- Card Container -->
                    <div class="container">
                        <!-- Recipe title-->
                        <h1 id="recipe-title">
                            <strong>{{object.title}}</strong>
                        </h1>
                        <!-- Author and time section -->
                        <div class="row">
                            <h6 class="card-subtitle text-muted" id="recipe-subtitle">By: {{ object.author }}</h6>
                            <h6 class="card-subtitle text-muted" id="recipe-subtitle">Last Updated:
                                {{ object.updated_at }}
                            </h6>
                        </div>
                        <!-- Section for calories, carbs, fat and protein -->
                        <div>
                            <div class="col-md-12 col-xl-12" id="nutritional-box">
                                <div id="nutritional-inline">
                                    <label for="calories">Calories</label>
                                    <span id="calories" class="border circle">{{recipe.calories}} Kcal</span>
                                </div>
                                <div id="nutritional-border"></div>
                                <div id="nutritional-inline">
                                    <label for="carbs" class="mx-2">Carbs</label>
                                    <span id="carbs" class="border circle">{{recipe.carbs}} g</span>
                                </div>
                                <div id="nutritional-border"></div>
                                <div id="nutritional-inline">
                                    <label for="fat" class="mx-2">Fat</label>
                                    <span id="fat" class="border circle">{{recipe.fat}} g</span>
                                </div>
                                <div id="nutritional-border"></div>
                                <div id="nutritional-inline">
                                    <label for="protein" class="mx-2">Protein</label>
                                    <span id="protein" class="border circle">{{recipe.protein}} g</span>
                                </div>
                            </div>
                        </div>
                        <!-- Section for prep time and amount of servings -->
                        <div class="row">
                            <div class="col-md-12 col-xl-12" id="nutritional-box">
                                <div id="nutritional-inline">
                                    <label for="calories">Prep:</label>
                                    <span id="calories" class="border rectangle">{{recipe.time}} mins</span>
                                </div>
                                <div id="nutritional-inline">
                                    <label for="carbs" class="mx-2">Servings:</label>
                                    <span id="carbs" class="border rectangle">{{recipe.servings}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row row pt-lg-5 pt-3">
                            <!-- Recipe desciption section -->
                            <div class="col-md-12 col-xl-12">
                                <!-- <p> {{recipe.description}}</p> -->
                                <div class="row">
                                    <!-- Ingredients and method section -->
                                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                                        <div class="jumbotron" id="jumbotron-background">
                                            <h1>Ingredients:</h1>
                                            <p>{{recipe.ingredients|safe}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                                        <div class="jumbotron" id="jumbotron-background">
                                            <h1>Method:</h1>
                                            <p>{{recipe.directions}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Update and delete section if user is owner of recipe -->
                                <div class="row my-5">
                                    {% if object.author == user or user.is_staff %}
                                    <div class="col-4">
                                        <a class="btn btn-outline-info"
                                            href="{% url 'recipes-update' object.id %}">Update</a>
                                        <a class="btn btn-outline-danger"
                                            href="{% url 'recipes-delete' object.id %}">Delete</a>
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-8 card mb-4  mt-3 ">
                                            <h3>Comments:</h3>
                                            <div class="card-body">
                                                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                                                {% for comment in comments %}
                                                <div class="comments" style="padding: 10px;">
                                                    <p class="font-weight-bold">
                                                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                                        {{ comment.name }}
                                                        <span class=" text-muted font-weight-normal">
                                                            <!-- The comment's created date goes here -->
                                                            {{ comment.created_on }}
                                                        </span> wrote:
                                                    </p>
                                                    <!-- The body of the comment goes before the | -->
                                                    {{ comment.body | linebreaks }}
                                                </div>
                                                <!-- Our for loop ends here -->
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-4 card mb-4  mt-3 ">
                                            <div class="card-body">
                                                <!-- For later -->
                                                {% if commented %}
                                                <div class="alert alert-success" role="alert">
                                                    Your comment is awaiting approval
                                                </div>
                                                {% else %}
                                                {% if user.is_authenticated %}

                                                <h3>Leave a comment:</h3>
                                                <p>Posting as: {{ user.username }}</p>
                                                <form method="post" style="margin-top: 1.3em;">
                                                    {{ comment_form | crispy }}
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-outline-info">Submit</button>
                                                </form>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Share on social media section -->
                                    <div class="col-md-12 text-center">
                                        <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-3">
                                            <strong>Share this recipe: </strong>
                                        </h4>
                                        <a class="btn btn-primary" style="background-color: #3b5998;"
                                            href="https://www.facebook.com/" target="_blank" role="button"><i
                                                class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-primary" style="background-color: #55acee;"
                                            href="https://www.twitter.com/" target="_blank" role="button"><i
                                                class="fab fa-twitter"></i></a>
                                        <a class="btn btn-primary" style="background-color: #dd4b39;"
                                            href="https://www.google.com/" target="_blank" role="button"><i
                                                class="fab fa-google"></i></a>
                                        <a class="btn btn-primary" style="background-color: #ac2bac;"
                                            href="https://www.instagram.com/" target="_blank" role="button"><i
                                                class="fab fa-instagram"></i></a>
                                        <a class="btn btn-primary" style="background-color: #0082ca;"
                                            href="https://www.linkedin.com/" target="_blank" role="button"><i
                                                class="fab fa-linkedin-in"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content %}