html, body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

#card-likes {
    justify-content: right;
}


/* recipe detail page */
#image-background{
    max-height: 200px;
}

#main-container {
    border-radius: 3px;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

#main-row {
    margin-top: 50px;
}

#recipe-title {
    text-align: center;
    padding-top: 4px;
    margin-bottom: 3px;
}

.recipe-subtitle {
    margin-bottom: 2px;
    text-align: center;
}
/* quanties, servings, nutritional value boxes and cicles */
.nutritional-box {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.nutritional-border {
    border-left: 2px solid lightblue;
    height: 40px;
    margin-left: 5px;
}
.nutritional-inline{
    display: inline;   
}

li {
font-size: 0.95rem;
line-height: 1.7rem;
}
.circle{
background-color: #e6ffe6;
border-radius: 50px;
padding: 20px;
}
.circle:hover{
background-color:#99ff99;
}
.rectangle{
background-color: #ffb3b3;
padding: 20px;
}
.rectangle:hover{
background-color:#ffe6e6;
}

/* method and ingredients section */

.jumbotron-background {
    background-color: whitesmoke;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    padding: 3px;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */
footer {
    position: relative;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 15px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

.social-links {
    padding: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.social-links li a i:hover {
    background: lightblue;
}

#footer-details {
    margin: 20px;
}

/* FAQ page questions */

.question-section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-container{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0;
}

.accordion-item{
    background-color: #8f8f8f;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link{
    font-size: 1.2rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link:hover{
    color: lightblue;
}

.accordion-link i {
    color: lightblue;
    padding: .5rem;
}

.accordion-link .fa-minus {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    font-size: 1rem;
    color: rgba(225,225,225);
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: lightblue;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    padding: 1rem;
}
.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .fa-plus {
    display: none;
}

.accordion-item:target .accordion-link .fa-minus {
    display: block;
}

@media screen and (max-width: 800px) {
    .circle {
        background-color: #e6ffe6;
        border-radius: 50px;
        padding: 5px;
        display: inline-block;
    }

    #nutritional-border {
        border-left: none;
        height: 40px;
        margin-left: 5px;
    }
    footer li {
        font-size: 0.5rem;
        line-height: 1.7rem;
    }
}